@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script);

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800,700,300);
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #321e33;
  color: #fff;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.columns div {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.half {
  width: 50%;
}
.third {
  width: 33%;
}
h2 {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 28px;
  padding: 12px;
  border-bottom: 1px solid #513153;
}
h3 {
  /*
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
	letter-spacing: 4px; */

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin: 9px 18px;
}
hr {
  border: none;
  border-bottom: 2px solid #291829;
  height: 3px;
  margin: 18px;
}
hr.blank {
  opacity: 0;
}
p {
  margin: 9px 18px;
  line-height: 140%;
  color: #d0b2d1;
}
header {
  height: 360px;
  background: url(../image/crissXcross.png);
  border-bottom: 12px solid #161616;
}
header h1 {
  /*font-family: times;
		font-size: 32px;
		font-style: italic; */

  letter-spacing: -3px;
  font-family: 'Petit Formal Script', cursive;
  font-size: 40px;
  padding: 24px;
}
header .overhead p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  color: #fff;
}
.banner {
  margin: 18px 0;
}
.banner textarea {
  width: 90%;
  margin: 0 18px;
  padding: 12px;
  background: #603162;
  border: 1px solid #3f2040;
  outline: none;
  height: 180px;
  border-radius: 8px;
  color: #e1cde2;
  font-family: Monaco, monospace;
  font-size: 14px;
}
.banner #output {
  background: #251626;
  width: 96%;
  height: 208px;
  margin: 0 18px;
  border-radius: 8px;
  padding: 0 6px;
}
.banner #output iframe {
  width: 100%;
  height: inherit;
}
.features h3 {
  font-size: 22px;
  font-family: "Open Sans", Helvetica, Arial;
  text-transform: none;
  margin-bottom: 9px;
}
.features p {
  margin: 9px 18px;
  margin-right: 9px;
  line-height: 140%;
  color: #d0b2d1;
}
.api article {
  padding-bottom: 18px;
}
.api article h4 {
  font-family: Monaco, monospace;
  margin: 18px;
  font-size: 22px;
  color: #9b9fd4;
}
.api article h4 .returns {
  font-style: italic;
  font-size: 90%;
  color: #535bb6;
}
.api article p em {
  font-style: italic;
}
.api article .example {
  background: #251626;
  font-family: Monaco, monospace;
  font-size: 14px;
  margin: 18px 36px;
  padding: 12px;
  color: #777dc5;
  line-height: 130%;
  border-radius: 8px;
}
.api article .example .comment {
  color: #6f3236;
}
footer p {
  text-align: center;
  color: #603162;
  padding: 12px;
}
footer p a {
  color: #6f3236;
}
